.selectContainer {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        margin-top: 100px;
        justify-content: space-between;
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 100px;
        justify-content: space-between;
        width: 395px;
    }

}

.select {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: var(--radius-stats-labels-timeframe);
    font-size: 16px;
    font-family: var(--font-secondary);

    padding-left: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../assets//icons/vector.svg');
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
    background-size: 18px;


    @media screen and (min-width: 768px) {
        width: 48%;
    }
}

.select option {
    background-color: var(--color-bg-primary);
    font-size: 16px;
    font-family: var(--font-secondary);
}


.select option:checked,
.select option:hover {
    background-color: var(--color-bg-secondary);
    cursor: pointer;
}