@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../assets/fonts/HindSiliguri-Regular.ttf') format('truetype');
}
