@font-face {
  font-family: 'Poppins 400';
  src: url('../assets//fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins 700';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe 400';
  src: url('../assets/fonts/Circe-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Circe 700';
  src: url('../assets/fonts/Circe-Bold.ttf') format('truetype');
}

:root {
  /* ------ fonts families ------ */
  --font-primary: 'Poppins 400';
  --font-primary-bold: 'Poppins 700';
  --font-secondary: 'Circe 400', sans-serif;
  --font-secondary-bold: 'Circe 700', sans-serif;

  /* ------ font colors ----- */
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-nav-menu-gray: #bdbdbd;
  --color-text-btn-placeholder: #bdbdbd;
  --color-text-binance-label: #a6a6a6;
  --color-text-btn-active-hover: #ffffff;
  --color-text-btn-cancel: #4a56e2;
  --color-text-income-green: #24cca7;
  --color-text-expanse-pink: #ff6596;
  --color-text-disabled-btn-gray: #e0e0e0;

  /* ------ background colors ----- */
  --color-bg-primary: #e7eaf2;
  --color-bg-secondary: #ffffff;
  --color-bg-blur: #ffffff66;
  --color-bg-backdrop: #00000040;
  --color-bg-widget-currency: #4a56e2;
  --color-bg-nav-icons: #6e78e8;
  --color-bg-nav-icons-active-hover: #4a56e280;
  --color-bg-btn-dropdown-menu: #0000001a;
  --color-bg-btn-dropdown-menu-active-hover: #ffffff;
  --color-bg-btn-active-hover: #24cca7;
  --color-bg-btn-delete: #24cca7;
  --color-bg-btn-cancel: #ede9e8;
  --color-bg-btn-income: #24cca7;
  --color-bg-btn-expanse: #ff6596;
  --color-bg-btn-active-hover-shadow: #24cca840;
  --color-bg-btn-active-hover-shadow-darker: #1eb896e0;
  --color-bg-hometab-dissolve-tabletanddesktop: #f1f2f7;
  --color-bg-btn-delete-hover: #e9000075;
  
  /* ------ borders colors ----- */
  --color-border-btn-date-filter: #000000;
  --color-border-bottom-btn-form: #e0e0e0;
  --color-border-bottom-btn-nonactive: #e0e0e0;
  --color-border-btn-active-hover: #24cca7;
  --color-border-btn-cancel: #4a56e2;
  --color-border-details-income: #24cca7;
  --color-border-details-expanse: #ff6596;
  --color-border-details-separator: #dcdcdf;
  --color-border-categories-separator: #dcdcdf;
  --color-border-transactions-separator: #dcdcdf;
  --color-border-desktop-vertical-dashboard-separator: #e7e5f2;
  --color-border-btn-cancel-shadow: #4a57e246;
  --color-border-btn-cancel-shadow-darker: #4a57e210;
  --color-border-btn-cancel-shadow-light: #ffffff98;
  --color-border-transaction-shadow: rgba(93, 93, 93, 0.233);
  
  /* ------ categories colors ----- */
  --color-category-main: #fed057;
  --color-category-products: #ffd8d0;
  --color-category-car: #fd9498;
  --color-category-selfcare: #c5baff;
  --color-category-childcare: #6e78e8;
  --color-category-household: #4a56e2;
  --color-category-education: #81e1ff;
  --color-category-Leisure: #24cca7;
  --color-category-other: #00ad84;

  /* ------ icons colors ----- */
  --color-icons-form-: #e0e0e0;
  --color-icon-calendar-: #4a56e2;
  --color-icon-logout: #bdbdbd;
  --color-icon-arrow-up: #000000;
  --color-icon-arrow-down: #000000;
  --color-icon-navi: #6E78E8;
  --color-icon-navi-hover: #4A56E2;
  /* ------ password strength colors ----- */
  --color-pass-strength-green: #24cca7;
  --color-pass-strength-gray: #e5f1ef;

  /* ------ components radiuses ----- */
  --radius-modal-tablet-desktop: 20px;
  --radius-btn-delete: 18px;
  --radius-btn-register: 20px;
  --radius-btn-login: 20px;
  --radius-btn-add: 20px;
  --radius-btn-save: 20px;
  --radius-btn-cancel: 20px;
  --radius-btn-dropdown-menu: 20px;
  --radius-btn-date-filter: 30px;
  --radius-widget-mobile-transaction-details: 10px;
  --radius-widget-binance: 30px;
  --radius-widget-currency: 30px;
  --radius-widget-transactions-header: 30px;
  --radius-stats-labels-timeframe: 30px;
  --radius-stats-table-header: 30px;
}

/* ------ example of use ------*/
/* 
Import 'css-variables.css' into your css file. 
Tip!: Remember about absolute path to the css-variables.css file.

use var(--variable) - where --variable is needed variable from file css-variable.css;

.btn {
  color: var(--color-text-primary);
}
*/
