@import '../../stylesheet/vars.css';

.logoutModalOverlay {
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(1px);
  z-index: 999;
}

.logoutModalContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 240px;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 2px 8px var(--color-bg-backdrop);
  z-index: 999;
  border-radius: 14px;
}
@media (min-width: 768px) {
  .logoutModalContainer {
    width: 90%;
    max-width: 340px;
  }
}

@media (min-width: 1200px) {
  .logoutModalContainer {
    width: 70%;
    max-width: 400px;
  }
}
.logoutModalContainer .logoutModalContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logoutModalContainer .logoutModalContent .logoutInfo {
  font-size: 16px;
}

.logoutModalContainer .logoutModalContent .confirmButtons {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.logout_button {
  width: 120px;
  color: #ffffff;
  font-family: var(--font-secondary);
  background-color: var(--color-bg-btn-delete);
  border-radius: 18px;
  font-size: 14px;
  border: none;
  padding: 4px 12px 4px 12px;
  text-transform: uppercase;
}

.logout_button:hover,
.logout_button:focus {
  cursor: pointer;
  filter: drop-shadow(0px 5px 5px #24cca8a4);
  -webkit-filter: drop-shadow(0px 5px 5px #24cca8a4);
  -moz-filter: drop-shadow(0px 5px 5px #24cca8a4);
  background-color: var(--color-category-other);
}
.main_btn {
  width: 120px;
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-text-btn-cancel);
  background-color: white;
  border: 1px solid var(--color-text-btn-cancel);
  border-radius: 18px;
  padding: 4px 12px 4px 12px;
  text-transform: uppercase;
}

.main_btn:hover,
.main_btn:focus {
  cursor: pointer;
  border: 1px solid #4655a8;
  color: #4655a8;
  filter: drop-shadow(0px 5px 5px #24cca8a4);
  -webkit-filter: drop-shadow(0px 5px 5px var(--color-border-btn-cancel));
  -moz-filter: drop-shadow(0px 5px 5px #24cca8a4);
  background-color: #f9faff;
  cursor: pointer;
}
