@import '../../stylesheet/vars.css';

.backdrop {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-backdrop);
  @media screen and (min-width: 768px) {
    width: 100vw;
    height: 100vh;
    top: -80px;
  }
}

.logoutModalContainer {

  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 2px 8px var(--color-bg-backdrop);
  z-index: 999;
  border-radius: 14px;
}
.closeIconContainer {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.closeIcon {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
.logoutModalContainer .logoutModalContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logoutInfo {
  font-size: 16px;
}

@media (min-width: 768px) {
  .logoutModalContainer {
    width: 90%;
    max-width: 340px;
  }
}

@media (min-width: 1200px) {
  .logoutModalContainer {
    width: 70%;
    max-width: 400px;
  }
}
