.transactionDetailsList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 280px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-widget-mobile-transaction-details);
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 14% 8% 22% 25% 13% 18%;
    background-color: transparent;
    border-radius: 0;
    transform: scale(1);
    transition:  all 250ms ease-in-out;
  }
}
.transactionDetailsList:hover {
  @media screen and (min-width: 768px) {
    z-index: 3;
    transform: scale(1.01);
    height: 105%;
    box-shadow: 0px 0px 8px 1px rgba(168,166,166,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(168,166,166,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(168, 166, 166, 0.5);
    background: linear-gradient(to right, transparent 8%, var(--color-bg-blur) 92%, transparent );
    /* background-color: var(--color-bg-blur); */
    border-block: none;
  }
}
.incomeBorder {
  border-left: 5px solid var(--color-border-details-income);
  @media screen and (min-width: 768px) {
    border-left: 0;
  }
}
.expanseBorder {
  border-left: 5px solid var(--color-border-details-expanse);
  @media screen and (min-width: 768px) {
    border-left: 0;
  }
}
.transactionDetailsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 47px;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: left;
    height: 54px;
  }
}
.transactionDetailsItem:not(:first-child) {
  border-top: 1px solid var(--color-border-details-separator);
  @media screen and (min-width: 768px) {
    border-top: 0;
  }
}
.transactionDetailsItem:nth-child(2) {
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.transactionDetailsItem:nth-child(5) {
  @media screen and (min-width: 768px) {
    justify-content: right;
  }
}
.transactionDetailsItem:last-child {
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.transactionDetailsItem:nth-child(3) {
  @media screen and (min-width: 768px) {
    overflow: hidden;
    text-wrap: wrap;
    text-align: left;
  }
}
.transactionDetailsItem:nth-child(4) {
  @media screen and (min-width: 768px) {
    overflow: hidden;
    text-wrap: nowrap;
    transition: all 250ms ease-in-out;
  }
}
.comment {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0 0 5px;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  transition: all 200ms ease-in-out;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}
.transactionDetailsItem:nth-child(4):hover {
  @media screen and (min-width: 768px) {
    z-index: 2;
    overflow: visible;
    text-wrap: wrap;
    text-align: left;
    border: 1px black;
    padding: 10px;
    hight: 100%;
    width: 180%;
    background-color: var(--color-bg-primary);
  }
}
.itemType {
  font-family: var(--font-secondary-bold);
  font-size: 18px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.itemValue {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-text-primary);
}
.typeOperator {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--color-text-primary);
  }
}
.typeString {
  display: flex;
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-text-primary);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.incomeText {
  color: var(--color-border-details-income);
  font-weight: 700;
}
.expanseText {
  color: var(--color-border-details-expanse);
  font-weight: 700;
}