.homeTab {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    align-items: end;
    padding-top: 0;
  }
}

.tableBody {
  max-width: 715px;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    padding: 0 0 0 20px;
  }
}

.tableItem:not(:first-child):not(:nth-child(2)) {
border-top: 1px solid var(--color-border-transactions-separator);
}

.tableHeader {
  display: none;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 14% 8% 25% 25% 13% 15%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 440px;
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-widget-mobile-transaction-details);
     border-radius: var(--radius-widget-transactions-header);
  }
}

.tableHeaderItem {
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 700;
}

.tableHeaderItem {
  display: flex;
  justify-content: left;
    align-items: center;
  padding: 0 20px;
  height: 54px;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 8px;
  }
}

.tableHeaderItem:nth-child(2) {
  justify-content: center;
}

.tableHeaderItem:nth-child(5) {
  justify-content: right;
}


