.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-secondary);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);

  @media screen and (min-width: 768px) {
    width: 500px;
    height: fit-content;
    padding: 40px 0 50px;
    border-radius: 20px;
  }
}

.container_input {
  position: relative;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.button {
  display: inline-block;
  height: 50px;
  width: 280px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border-radius: 20px;
  text-align: center;
  color: var(--color-text-secondary);

  transition:
    100ms linear,
    color 100ms linear,
    border-color 100ms linear;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}
