.buttonPrimary {
  width: 280px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--color-bg-btn-income);
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  color: var(--color-text-btn-active-hover);
  font-family: var(--font-secondary);
  font-size: 18px;
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}
.buttonPrimary:hover {
  box-shadow: 0 5px 10px var(--color-bg-btn-active-hover-shadow);
}
.buttonSecondary {
  width: 280px;
  height: 50px;
  border-radius: 20px;
  color: var(--color-text-btn-cancel);
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  color: var(--color-text-btn-cancel);
  font-family: var(--font-secondary);
  font-size: 18px;
  background-color: transparent;
  border: 1px solid var(--color-border-btn-cancel);
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}
.buttonSecondary:hover {
  box-shadow: 0 5px 10px var(--color-border-btn-cancel-shadow);
}
