@media screen and (max-width: 767px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
  }

  .home__span,
  .diagram__span {
    display: none;
  }

  .home__link::before {
    display: block;
    content: '';
    width: 44px;
    height: 44px;
    background-size: contain;
    background-image: url('../../assets/icons/home.svg');
  }

  .diagram__link::before {
    display: block;
    content: '';
    width: 44px;
    height: 44px;
    background-size: contain;
    background-image: url('../../assets/icons/diagram.svg');
  }

  .dollar__link::before {
    display: block;
    content: '';
    width: 44px;
    height: 44px;
    background-size: contain;
    background-image: url('../../assets/icons/currency.svg');
  }

  .active {
    background-color: var(--color-bg-widget-currency);
    box-shadow: 0px 3px 10px 0px;
    opacity: 50%;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    padding: 40px 0 28px 32px;
    gap: 12px;
  }

  .home__link {
    width: 99px;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    &::before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background-size: contain;
      background-image: url('../../assets/icons/home.svg');
    }
  }

  .diagram__link {
    width: 125px;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    &::before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background-size: contain;
      background-image: url('../../assets/icons/diagram.svg');
    }
  }

  .dollar__link {
    display: none;
  }

  .home__span,
  .diagram__span {
    font-family: var(--font-primary);
    font-size: 18px;
    margin-left: 20px;
  }

  .active {
    background-color: var(--color-bg-widget-currency);
    box-shadow: 0px 3px 10px 0px;
    opacity: 50%;
    font-family: var(--font-primary-bold);
  }
}
