.nav {
  height: fit-content;
  padding-block: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 23px;
  height: fit-content;
  color: transparent;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--font-primary);
  transition: all 50ms ease-in-out;
}

.link * .svg {
  fill: 'var(--color-icon-navi-hover)';
  opacity: 70%;
}

.link:hover, .link:focus, .link:active {
    font-family: var(--font-primary-bold);
    outline: none;
    opacity: 100%;
}
.link:focus-within * .svg,
.link:hover * .svg,
.link:active * .svg
  {
  opacity: 100%;
}

.list {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  
  @media screen and (min-width: 768px) {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
  }
}

.span {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}

.active {
  background-color: var(--color-bg-widget-currency);
  box-shadow: 0px 3px 10px 0px;
  opacity: 50%;
  font-family: var(--font-primary-bold);
}
