.summaryContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-right: 0;


    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
    }
}

.statsSummary {
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 0;
    font-family: var(--font-secondary-bold);
}

.expenses {
    font-size: 16px;
    font-family: var(--font-secondary-bold);
    color: var(--color-text-expanse-pink);
    padding-right: 10px;
    margin-bottom: 0;


}

.income {
    font-size: 16px;
    font-family: var(--font-secondary-bold);
    color: var(--color-text-income-green);
    padding-right: 10px;

}