.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 20px;

  cursor: pointer;
  background-color: transparent;
  border: 0;
  filter: drop-shadow(0px 10px 5px var(--color-bg-blur));
  -webkit-filter: drop-shadow(0px 10px 5px var(--color-bg-blur));
  -moz-filter: drop-shadow(0px 10px 5px var(--color-bg-blur));
  transform: rotate(0deg);
  transition: rotate 0.25s;
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}

.editBtn:hover *,
.editBtn:focus *,
.editBtn:active * {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  transition-delay: 0;
  color: var(--color-border-btn-active-hover);
  transition: all 0.25s;
}

.editBtn:hover > .svg,
.editBtn:focus > .svg,
.editBtn:active > .svg {
  transform: rotate(-50deg);
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  transition-delay: 0;
  stroke: var(--color-border-btn-active-hover);
  transition: all 0.25s;
}

@media screen and (min-width: 768px) {
  .editBtn {
    margin: 0;
  }
  .editBtn:hover,
  .editBtn:focus,
  .editBtn:active {
    transform: rotate(-5deg);
    transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
    transition-delay: 0;
    stroke: var(--color-border-btn-active-hover);
    transition: all 0.25s;
  }
}

.text {
  display: flex;
  font-family: var(--font-secondary);
  font-size: 14px;
  letter-spacing: 2%;
  padding-left: 8px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
