@import '../../stylesheet/vars.css';

.ButtonDelete {
  background-color: var(--color-bg-btn-delete);
  border-radius: var(--radius-btn-delete);
  width: 67px;
  height: 26px;
  text-transform: capitalize;
  border: 0;
  font-family: var(--font-secondary);
  color: var(--color-text-secondary);
  font-size: 14px;
}

.ButtonDelete:hover {
  background-color: var(--color-bg-btn-expanse);
}
