.header {
  margin: 0;
  background-color: var(--color-bg-secondary);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  padding-top: 0px;
  margin: auto;
}

.logoWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.userWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  position: relative;
}

.exitWrapper {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  padding: 10px 5px 10px 20px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding: 10px 5px 10px 20px;
    border-left: 1px solid var(--color-text-nav-menu-gray);
  }
}

.logo {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 700;
  margin-right: 15.56;
}

.text {
  color: var(--color-text-nav-menu-gray);
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 400;
  padding-block: 0;
  margin-block: 0;
  margin-right: 8px;
  
  @media screen and (min-width: 768px) {
    margin-right: 12px;
  }
}

.exit {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: block;
    color: var(--color-text-nav-menu-gray);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
  }
}
 
.btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 38px;
  height: 40px;
  transition-duration: 0.5s;
}
.btn1 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 18px;
  left: 4px;
  background-color: var(--color-text-nav-menu-gray);
}
.btn1 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-text-nav-menu-gray);
  content: "";
  top: -10px;
  left: 0px;
}
.btn1 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-text-nav-menu-gray);
  content: "";
  top: 10px;
  left: 0px;
}
.btn1open {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 38px;
  height: 40px;
  transition-duration: 0.5s;
}
.btn1open .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 18px;
  left: 3px;
  background: transparent;
}
.btn1open .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-text-nav-menu-gray);
  content: "";
  top: -10px;
  left: 0px;
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.btn1open .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: var(--color-text-nav-menu-gray);
  content: "";
  top: 10px;
  left: 0px;
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.btn1:hover,
.btn1open:hover {
  cursor: pointer;
}
