.headerWrapper {
  background-color: var(--color-bg-secondary);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.logoWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.userWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
}

.exitWrapper {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    padding-left: 12px;
    border-left: 1px solid var(--color-text-nav-menu-gray);
  }
  cursor: pointer;
}

.logo {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 700;
  margin-right: 15.56;
}

.text {
  color: var(--color-text-nav-menu-gray);
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 400;
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    margin-right: 12px;
  }
}

.exit {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    color: var(--color-text-nav-menu-gray);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
  }
}
