.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @media screen and (min-width: 768px) {
    height: 100%;
    gap: 20px;
    padding: 30px 0;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    height: 100vh;
    gap: 0;
    padding: 0;
  }
}

.introWrapper {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 35%;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 100%;
    width: 43vw;
  }
}

.formWrapper {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1280px) {
    height: 100%;
    width: 57vw;
    align-items: center;
    box-shadow:
      inset 0 0 2000px rgba(255, 255, 255, 0.5),
      0 0 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
  }
}

.img {
  width: 260px;
  height: 250px;
  background-image: url('../../assets/images/login/login-tablet.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2) {
    background-image: url('../../assets/images/login/login-tablet@2x.png');
  }
  @media screen and (min-width: 1280px) {
    width: 436px;
    height: 420px;
    background-image: url('../../assets/images/login/login-desktop.png');
  }
  @media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2) {
    background-image: url('../../assets/images/login/login-desktop@2x.png');
  }
}

.text {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0;
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
  }
}
