main {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-primary);

  @media screen and (min-width: 768px) {
    background-image: url('../../assets/images/bg-tablet/ellipse-down.png'),
      url('../../assets/images/bg-tablet/ellipse-up.png');
    background-position:
      bottom left,
      top right;
    background-repeat: no-repeat, no-repeat;
  }
  @media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2) {
    background-image: url('../../assets/images/bg-tablet/ellipse-down@2x.png'),
      url('../../assets/images/bg-tablet/ellipse-up@2x.png');
  }
  @media screen and (min-width: 1280px) {
  }
  @media only screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2) {
  }
}
