@import '../../utils/css-variables.css';
.BalanceContainer {
  width: 280px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-widget-binance);
  height: 80;
  text-transform: uppercase;
  padding: 8px 32px 11px;
}

@media screen and (min-width: 780px) {
  .BalanceContainer {
    width: 360px;
    padding: 8px 40px 11px;
  }
}
@media screen and (min-width: 1200px) {
  .BalanceContainer {
    width: 395px;
  }
}
.BalanceText {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-binance-label);

  display: flex;
  align-items: start;
}
.BalanceBox {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text-primary);
  display: flex;
  align-items: start;
}
