.balanceContainer {
  width: 100%;
  max-width: 320px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-widget-binance);
  height: 80;
  text-transform: uppercase;
  padding: 8px 32px 11px;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 350px;
    padding: 8px 40px 11px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    max-width: 395px;
  }
}
.balanceText {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-binance-label);
  display: flex;
  align-items: start;
}
.balanceBox {
  font-size: 30px;
  color: var(--font-primary-bold);
  display: flex;
  align-items: start;
  align-content: flex-end;
}

.balanceSum {
  font-family: var(--font-primary-bold);
  font-size: 30px;
  padding-left: 7px;
  letter-spacing: 1px;

  @media screen and (min-width: 768px) {
    padding-left: 12px;
    letter-spacing: 2px;
  }
}
