@import './stylesheet/vars.css';

:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-size: 16px;
  color: var(--color-text-primary);
height: 100vh;
  /* color-scheme: light dark; */
  background-color: var(--color-bg-primary);
}

* {
  color: var(--color-text-primary);
}
